.slider__pin
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 13px;
    background-color: white;
    transform: scale(1);

    &_active
        background-color: #fcac45;
        transform: scale(1.5);

    &:last-child
        margin-right: 0;
