.slider__pin
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 13px;
    background-color: white;

    &_active
        background-color: #fcac45;

    &:last-child
        margin-right: 0;
