.caption
    display: flex;
    flex-direction: column;

    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    line-height: 1.2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 14px;

    & > span > span
        font-weight: 600;

    &::before
        // маленький знак подчеркивания
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        width: 66px;
        height: 4px;
        background-color: rgba(252, 172, 69, 0.7);

        order: 2;

    &::after
        // большой знак подчеркивания
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        width: 98px;
        height: 4px;
        background-color: #fcac45;

        order: 1;
