.contact-form
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #636363;

    & > .name-input, & > .email-input
        width: 48%;

    & > .text-input
        width: 100%;
        margin-top: 30px;

    & > .button
        width: 165px;
        height: 40px;
        border: none;
        background-color: #fcac45;
        color: white;
        margin-top: 30px;
        margin-left: auto;

        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
