.start__description
    /* Base text style */
    color: rgba(255, 255, 255, 0.75);
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;

    /* Text style for "We are a digit" */
    font-weight: 400;

    & > span
        /* Text style for "years of exper" */
        font-weight: 700;
