.start__welcome
    /* Base text style */
    font-family: Open Sans, sans-serif;
    font-size: 44px;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;

    /* Text style for "wELCOME on" */
    color: #999;
    font-weight: 300;

    & > span
        /* Text style for "spirit8" */
        color: #fcac45;
        font-weight: 700;
