.radio-group_section_portfolio
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: #6c6c6c;
    font-weight: 400;

    .radio
        display: inline-block;

        &__box
            display: none;

        &_checked
            color: #222;
            font-weight: 600;

        &:not(:first-child)
            padding-left: .5em;
            border-left: 2px solid #6c6c6c;

        &:not(:last-child)
            margin-right: .5em;

    br
        display: none;
