.about__image
    display: flex;
    justify-content: flex-end;
    background: url(about__image.png) no-repeat;
    min-height: 504px;

@media (max-width: 768px)
    .about__image
        justify-content: flex-start;
        background: none;
