.menu-item_checked::after
    content: '';
    box-sizing: border-box;
    display: block;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #292929 50%, #fcac45 50%);

    position: absolute;
    bottom: -24px;
    left: calc(50% - 30px);

    cursor: auto;

@media (max-width: 768px)
    .menu-item_checked::after
        bottom: -4px;
