.team
    background-color: #111;
    padding: 100px calc((100% - 1146px) / 2);

    @media (max-width: 768px)
        padding: $mobileSectionMargin .625rem;

        // & .slider-item
        //     background-color: orange;
