.clients
    padding: 100px calc((100% - 1146px) / 2);
    background-color: #0b0b0b;

    @media (max-width: 768px)
        padding: $mobileSectionMargin .625rem

    & .slider-item__pic
        width: auto;
        height: auto;
        background-color: inherit;
        border-radius: 0;
        margin-bottom: 0;
